#div1{
	
	background-color: #761a1a;
	padding: 40px;
	text-align: center;

}

#div1 h1{
	font-family: 'El Rio Lobo';
	color:gold;
	margin: 0.5em;
}

#div1 p{
	margin: 0;
	color: white;
}


#div2{

	background-image: url("assets/images/cuzco2.jpg");
	background-size: cover;
	text-align: right;
	padding: 50px 0px;
}

#div2 p{

text-align: right;
color: white;
}

#div2 h2{
	font-family: 'El Rio Lobo';
	color:gold;
	margin:0;
	
}

#div3 {
	background-color: #0082c3;
}

#div3 img{

	display: block;
	margin: auto;
	padding: 20px;

}

#div4 {

	font-family: 'El Rio Lobo';
	font-size: 50px;
	text-align: center;
	padding: 40px;
}

#div4 p{
	text-align: center;
	margin: 5px;

}

#div4 ul{

	text-align: left;
}

li{
	list-style: none;
	margin: 10px;
	letter-spacing: 1pt
}
body{

padding: 0%;
margin: 0%;
}